.real-estate-listing {
    border: 1px solid #ccc;
    
    
    padding: 16px;
    width: 80vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin: 0 auto; 
  }

  h2 {
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 40px;
    color: #001e41;
  }

  h3 {
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 30px;
    color: #001e41;
  }
  
  .top {
    display: flex;
    justify-content: space-between;
  }
  
  .property-type {
    font-weight: bold;
  }
  
  .photos {
    max-height: 20%;
    width: auto;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
  }
  
  .big-preview {
    max-height: 50%;
    width: auto;
  }
  
  .small-previews img {
    margin-top: 5px;
  }
  
  .actions button {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border:none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px;
  }
  
  .actions button:hover {
    background-color: #0056b3;
  }
  
  /* Style for the active (favorite) button */
  .favorite.active {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .favorite.active:hover {
    background-color: #e54635;
  }
  
  .favorite.active {
    background-color: #ff6347;
    color: white;
  }
  
  .features {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .feature-item {
    margin: 5px 0;
    padding-left: 15px;
  }
  
  #img1{
    margin-right: 0px;
  }

  #img2{
    margin-left: 20px;
  }