.BuyPropertyPage{
    border:2px solid grey;
    background-color: #f0f0f0 ;
    border-radius:5px;
    width: 80%;
    
}

.imgBuyPropertyPage{
    width: 40%;
}


.BuySectionOfBuyPage *{
    display: inline-block;
    margin:2%;
}

.propertyAddress{
    font-size: 1.5em;
}

.propertyPrice{
 font-size:1.5em;
 margin:0;
}



.buyButton{
    /* display: inline-block; */
    border: 2px solid #EC058E;
    border-radius: 25px;
    padding: 10px 20px; 
    color: white;
    background-color: #EC058E;
    font-size: 16px;
    font-weight: bold; 
    /* text-align: center;  */
    cursor: pointer; 
    transition: background-color 0.3s; 
    
}