.filterFormDiv{
  text-align: center;
  color: black;
  padding-left: 10px;
  width:20%;
}

.filterFormApply{
  background-color: #ffffff;
  color:#185c9c;
  border: 1px solid black;
  padding: 0.5%;
  border-radius: 25px;
  width: 50%;
  font-size: 15px;
}

.filterFormApply:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label{
  text-align: left;
  display:block;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  padding-bottom: 10px;
}

#Price, #Size, #numBathrooms, #numBedrooms {
  float: right;
}