
.filterFormDiv{
  z-index: 1000;
  position:absolute;
  top:9.8vh;
  left: 25vw;
  text-align: center;
  color: black;
  padding-left: 10px;
  width: 15%;;

}
@media (max-width: 767px) {
  .filterFormDiv {
    left: 10px;
    top: 65px;
    
  }
}


.filterFormApply{
  background-color: #ffffff;
  color:#185c9c;
  border: 1px solid #185c9c;
  padding: 3%;
  border-radius: 25px;
  width: 50%;
  font-size: 15px;
}

.filterFormApply:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
  }

/* The container */
.container {
  
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label{
  align-content: left;
  text-align: left;
  display:block;
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.slider-range{
  display:block;
  align-content: right;
  float: right;
}

#Price, #Size, #numBathrooms, #numBedrooms {
  position: relative;
}

.filter-button{
  background-color: #001e41;
  color:white;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #D4A437;
  border-radius: 15px;
}

.filter-button:hover{
  background-color: #D4A437;
  color: black;
  cursor: pointer;
}
.undropdown-content{
  display:none;
}
.dropdown-content {
  position:absolute;
  top:-2vw;
  left:12.5vw;
  background-color: #ffffff;
  width: 150%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}
