.frontPanel{
    width:100px;
    height:auto;
}

.homePage .p1{
    color: gainsboro;
    font-size: 60px;
    text-align: center;
    padding-top:5%;
    font-family: 'Pacifico', cursive;
    }

.homePage .p2{
      color: gainsboro;
      word-wrap: break-word;
      text-align: center;
      padding-left: 15%;
      padding-right: 15%;
      font-size: 20px;
    }
    
    @font-face {
      font-family: 'Pacifico';
      font-style: normal;
      src: local('Pacifico'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v16/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
    }


  body {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/public/HomePageFrontPanel2.jpg') no-repeat center top 50px;
      background-size: cover;
      z-index: 1;
    }
    
      
    
    