.loginForm {
    width: 100vw;
    left: 50vw;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .loginForm h2 {
    text-align: center;
    color: #185c9c;
    animation: fadeIn;
    font-size: 40px;
    font-weight: lighter;
    font-family: 'Avenir';
  }
  
  .loginButton, .cancelLoginButton {
    width: 30%;
    padding: 10px;
    background-color: #185c9c;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
  }
  
  .loginButton:hover, .cancelLoginButton:hover {
    background-color: white;
    color: #185c9c;
    border: 1px solid #185c9c;
  }
  
  .cancelLoginButtonAnchorTag {
    text-decoration: none;
  }
  
  .loginForm input[type="email"],
  .loginForm input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
