.loginForm {
    width: 100vw;
    left: 50vw;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  @import url('https://fonts.googleapis.com/css2?family=Avenir&display=swap');

  .loginForm h2 {
    text-align: center;
    color: #001e41;
    animation: fadeIn;
    font-size: 40px;
    font-weight: lighter;
    font-family: 'Avenir';
  }
  
  .loginButton, .cancelLoginButton {
    width: 30%;
    padding: 10px;
    background-color: #001e41;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
  }
  
  .loginButton:hover, .cancelLoginButton:hover {
    background-color: white;
    color: #001e41;
    border: 1px solid #001e41;
  }
  
  .cancelLoginButtonAnchorTag {
    text-decoration: none;
  }
  
  .loginForm input[type="email"],
  .loginForm input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: solid 1px #B1B1B1;
    background-color: #FFFFFF;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Avenir';
  }

  .slide-in {
    position:relative;
    animation-name: slideIn;
    animation-duration: 1s;
  }
  
  @media (max-width: 767px) {
    .signUpForm {
      max-width: 260px;
     
    }
    .slide-in {
      animation-name: slideInSmallerScreen;
      animation-duration: 1s;
    }
  }
  
  @keyframes slideIn {
    from {
      left: -100%; 
    }
  
    to {
      left: 0;
    }
  }
  
  @keyframes slideInSmallerScreen {
    from {
      left: -100vw; 
    }
  
    to {
      left: 0;
    }
  }

  .loginFormElement{
    margin: 30px;
    animation: fadeIn;
    animation-duration: 2s;
  }

  .loginFormElement label{
    text-align: left;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(73, 73, 73);
  }