.profileButton{
 
  position: absolute;
  top: 80px;
  right: 10px;
  background-color: #ffffff;
  color:#185c9c;
  border: none;
  padding:0.5%;
  border-radius: 25px;
  width: 100px;
  font-size: 15px;
  
}


.profileButton:hover{
    
    cursor:pointer;
    background-color: #f1c40f;
    
}