.card img{
    max-width: 14%;
    max-height: 14%;
}

.card{
   display:inline-block;
    border: 2px solid #331e38;
   border-radius: 20px;
   margin: 2em;
   padding: 0.3em;
   max-width: 15%;
   max-height:30%;
   
}