.card img{
    max-width: 100%;
    max-height: 50%;
    border-radius: 20px;
}

.card{
   
   border: 2px solid #331e38;
   border-radius: 20px;
   padding:2px;
   margin: 0.1em;
   max-width:15%;
   max-height:10%;
   
   height:auto;
   width:auto;

  
}