.topBar{
  position: fixed;
  left: 0;
  top: 0;
  height: 13%;
  width: 100%; 
  background-color: #104f55ff;
  border-bottom: 1px solid #331e38ff;
}

.pageLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:5px;
  height: 45px;  /* height: 45px;*/
  
}

.pageLogo img {
  margin-top: 4rem;
  max-width: 15em;
  max-height: 15em;
}

#LogoAnchorHome{
  text-decoration: none;
  
}
/*The filter form text itself*/
#filter{
  width: 35em;
  height: 1.4em;
  border-radius: 25px;
  border: 2px solid white;
}

#ApiFilterSearch label{
  color:white;
}
.filterForm{
  display:flex;
  position:relative;
  top: 2.2em;
  justify-content: center;
  align-items: bottom;
  float: bottom;
}



