.App{
  text-align:center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-height: 450px) {
  .sideBar a {font-size: 18px;}
}

.sideBar{
  position: fixed;
  left: 0;
  top: 51px;
  height: 100%;
  width: 250px; 
  background-color: #104f55ff;
  color: #fff;
  transition: width 0.3s;
}

.sideBar a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s;
}

.sideBar a:hover {
  background-color:  rgb(7, 56, 59);
}

.topBar{
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  width: 100%; 
  background-color: #104f55ff;
  border-bottom: 1px solid #331e38ff;
}
