.App{
  text-align:center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-height: 450px) {
  .sideBar a {font-size: 18px;}
}


.sidebar {
  width: 0;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  background-color: #104f55ff;
  transition: 0.3s;
  overflow-x: hidden;
  padding-top: 60px;
  z-index: 1;
}


.sidebar.open {
  width: 250px;
  left: 0;
}

.openbtn {
  position: fixed;
  top: 8px;
  left: 10px;
  width: 35px;
  height: 35px; 
  background-color: #104f55ff;
  color: white;
  border: none;
  font-size: 26px;
  cursor: pointer;
  z-index: 2;
  border: none;
  border-radius: 4px; 
  transition: 0.3s;
}

.openbtn:hover {
  background-color: rgb(7, 56, 59);
}

.sideBar a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s;
}

.sideBar a:hover {
  background-color:  rgb(7, 56, 59);
}

.topBar{
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  width: 100%; 
  background-color: #104f55ff;
  border-bottom: 1px solid #331e38ff;
}

.signUpBtn{
  position: fixed;
  top: 8px;
  right: 10px;
  background-color:#104f55ff;
  color:#ffffffc0;
  border: none;
  padding:0.5%;
  border-radius: 4px;
}

.signUpBtn:hover {
  background-color: rgb(7, 56, 59);
}

.signUpBtn:active {
  background-color: rgb(3, 23, 24);
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  color:black;
}