<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ broker.name }}'s Property Listings</title>
  </head>
  <body>
    <h1>{{ broker.name }}'s Property Listings</h1>
    <ul>
      {% for property in properties %}
      <li>
        {{ property.name }} - {{ property.price }} - {{ property.country }} -
        {{property.rating }}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
