<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Property Details</title>
  </head>

  <body>
    <h1>{{ property.name }}</h1>
    <p>Price: {{ property.price }}</p>
    <p>Country: {{ property.country }}</p>
    <p>Rating: {{ property.rating }}</p>
    <p>For Sale: {% if property.for_sale %}Yes{% else %}No{% endif %}</p>
    <p>Square Footage: {{ property.square_footage }}</p>
    <p>Bedrooms: {{ property.num_of_bedrooms }}</p>
    <p>Bathrooms: {{ property.num_of_bathrooms }}</p>
    <p>Type of Property: {{ property.type_of_property }}</p>
    <p>Assigned User: {{ property.assigned_user }}</p>
    <!-- Link to edit property -->
    <a href="{% url 'property_edit' property.property_id %}">Edit Property</a>

    <!-- Form for deleting property -->
    <form
      action="{% url 'property_delete' property.property_id %}"
      method="post"
      style="display: inline"
    >
      {% csrf_token %}
      <input type="submit" value="Delete Property" />
    </form>
    <a href="{% url 'email_form' %}?to={{ property.assigned_user.email }}"
      >Contact Assigned User</a
    >
    {% if user.is_authenticated and user.role == 'broker' %}
    <a href="{% url 'submit_offer' property.property_id %}">Submit Offer</a>
    {% endif %}
  </body>
</html>
