<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Brokers</title>
  </head>
  <body>
    <h1>Search Brokers</h1>
    <form method="GET">
      <input type="text" name="query" placeholder="Search brokers..." />
      <input type="submit" value="Search" />
    </form>
    <ul>
      {% for broker in brokers %}
      <li>
        Name: {{ broker.name }}<br />
        Email: {{ broker.email }}<br />
        Phone Number: {{ broker.phone_number }}<br />
        License Number: {{ broker.broker.license_number }}<br />
        Agency: {{ broker.broker.agency }}<br />
        <form action="{% url 'request_info' broker.id %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Request Info" />
        </form>
        <a href="{% url 'broker_property_listings' broker.id %}"
          >View Property Listings</a
        >
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
